
\.Rproj\.user/E4481378/pcs/

\.Rproj\.user/E4481378/

*.Rproj

figure/

build/

vignettes/\.Rhistory

*.pdf

*.out

*.log

*.blg

*.bbl

*.aux

*.sty

vignettes/vignette\.tex

\.Rhistory

\.Rbuildignore
.Rproj.user
